/* /* @import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Rubik+Beastly&display=swap');
.text{
    font-family: 'Neonderthaw', cursive;
}
.text1{
    font-family: 'Rubik Beastly', cursive; 
} */


/* @font-face{
    src: url(./Marvel-Regular.ttf);
    font-family: yangifont;
}
/* body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ed1d24;
} */
/* .text{ */
    /* font-family: yangifont; */
    /* color:#fff; */
    /* font-size: 200px; */
    
/* } */ 

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
@font-face{
    src: url(./FontsFree-Net-ProductSans-Regular.ttf);
    font-family: yangi font;
}
.text1{
    font-size: 300px;
    font-family: yangi font;
    color: #4086f4;
}
.text2{
    font-size: 300px;
    font-family: yangi font;
    color: #eb4131;
}
.text3{
    font-size: 300px;
    font-family: yangi font;
    color: #fbbd00;
}
.text4{
    font-size: 300px;
    font-family: yangi font;
    color: #4086f4;
}
.text5{
    font-size: 300px;
    font-family: yangi font;
    color: #35a952;
}
.text6{
    font-size: 300px;
    font-family: yangi font;
    color: #4881DB;
}

